<%- include("../partials/head.ejs") %>
<%- include("../partials/navbar.ejs") %>

<style>
form input,label,p{
display: block;
}
.form form{
    width: 500px;
    padding: 20px;

}
.form form input{
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: aliceblue;
}
.form form button{
    margin-top: 20px;
}
.form{
    margin: auto;
    display: flex;
    align-items: center;
}
.error{
    background-color: rgb(255, 154, 129) !important;
}
</style>

<div class="form">
    <form class="forms">
        <h3 class="info"></h3>

        <label for="email">Email</label>
        <input type="email" value="<%= staff.email %>" name="email" id="email">
       
        <label for="courses">Courses</label>
        <p class="text-danger">
            Ensure that the courses are seperated by comma(,) <br>e.g STA101,PMT202,BCH404
        </p>
        <input type="text" name="courses"  value="<%= staff.courses%>"  id="courses">
        <button class="btn btn-primary"  value="">Submit</button>

    </form>
</div>
<script>
    const info=document.querySelector(".info")
    const email=document.getElementById("email")
    const course=document.getElementById("courses")
    const form =document.querySelector(".forms")
    const btn=document.querySelector(".btn-primary")


    btn.addEventListener("click",async(e)=>{
        e.preventDefault()

        if (!email.value.length){
             email.classList.add("error")
        }
        else{
             email.classList.remove("error")

        }
       
        if (!course.value.length){
             course.classList.add("error")
        }
        else{
             course.classList.remove("error")

        }
       
        
const courses=new Array
const c=course.value.split(',')
c.forEach(sub => {
    courses.push(sub)
});
            const data={
               email:email.value,
               courses,
            }
           const post=await fetch('/api/auth/edit/<%=staff._id %>',{
               method:"PATCH",
               headers:{
                   "Content-Type":"application/json"
               },
               body:JSON.stringify(data)
           })

           const json= await post.json()
           if (!post.ok){
            
            info.innerText=json.error
        }
        if (post.ok){
               info.innerText=json
            console.log(json)
            setTimeout(() => {
                
                location.href="/"
            }, 3000);
           }
        



    })

    name.addEventListener("input",()=>{
        
        pass=name.value.split(" ")[0].toUpperCase()
        password.value=pass

    })

</script>